
.instructionBtn {
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #131313;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.instructionBtn:hover {
  box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

.middlePanelWrapper {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.contentArea {
  width: 100%;
  /* height: 100%; */
}

.instructionPanel {
  position: absolute;
  top: 188px;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Animation classes */
.fadeIn {
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.3s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}