.grand-container {
  background-color: #f5f5f5;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100vw;
}
.parent-container {
  position: relative;

  box-sizing: border-box;
  width: 1400px;
  /* 898+45 */
  /* min-height: 943px; */
  margin: 0 auto;
  margin-top: 4px;
  background-color: #1a5376;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
.top-container {
  width: 1300px;
  height: 70px;
  background-color: #eaeaea;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3), 0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.middle-container {
  display: flex;
  flex-direction: row;
  width: 1400px;
  min-height: 835px;
}
.button-container {
  width: 1300px;
  height: 70px;
  background-color: #eaeaea;
  margin: 0 auto;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
    border-radius: 10px;

}
.middle-panel-container {
  width: 1300px;
  /* height: 835px; */
  background-color: rgb(247, 245, 245);
  margin: 0 auto;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
    border-radius: 10px;

}

.bottom-container {
  height: 40px;
  width: 1400px;
  /* min-width: 1040px; */
  background-color: #1a5376;
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
}


.instructionBtn {
  position: absolute;
  top: 216px;
  right: 1302px;
  margin: 12px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background: #131313;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  rotate: 90deg;
  
  text-align: center;
  
}

.instructionBtn:hover {
  box-shadow:  inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  background-color: #222;

}