.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-container h2 {
  color: rgb(49, 49, 49);
  font-size: 28px;
  text-align: "center";
  margin: 10px;
}
