.instructions {
  /* You can add container-specific styles here */
  color: #3b3b3b;
  width: 600px;
  background-color: #fff;
  padding: 5px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.insHeading {
  font-size: 20px;
  font-weight: 500;
  color: #111010;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

.steps {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.steps b{
  font-size: 18px;
  font-weight: 500;
  color: #0c0c0c;

}
span{
    font-size: 18px;
    font-weight: 600;
    color: #943f3f;

}

.stepText {
  margin-top: -20px;
  font-size: 18px;
  font-weight: 450;
  color: #0c0c0c;
}
