/* From Uiverse.io by lenfear23 */
.button-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}
.button-panel-title {
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
button {
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #1a5376;
  justify-content: center;
  align-items: center;
  box-shadow:
  inset 5px 5px 10px #176eb6;
  
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

button:hover {
  box-shadow:  inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

button:disabled {
  background: #083a57;
  color: #5a5959;
  cursor: not-allowed;
  box-shadow: none;
  cursor:none;
}

button:disabled:hover {
  box-shadow: none;
 color: #5a5959;
}
.previous {
  margin-left: 100px;
} 
.next {
  margin-right: 100px;
}
